* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_screen {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content_logo {
  width: 30vw;
  height: 25vw;
  margin-bottom: 10px;
}

.content > span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  color: #474545;
}

footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: grey;
  bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emojis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 18vh;
  gap: 5vh;
}

.emojis > img {
  width: 80px;
  height: 80px;
}

.button_add {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 80vw;
  height: 60px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.SW {
  width: 88vw;
  height: 10vh;
  border-radius: 12px;
  background: gray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: Black;
}

.loader_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.loader {
  border: 16px solid rgb(91, 91, 91);
  border-top: 16px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.install_button {
  width: 230px;
  height: 75px;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-color: grey;
  color: black;
}

.loader_screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  z-index: 100;
  transition: all 1s;
  overflow: hidden;
}

.loader_screen > img {
  width: 100vw;
}

ul {
  width: 85vw;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
}

ul:first {
  padding-top: 10vh;
}

ul > li {
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Стили для active */

.active {
  background-color: rgb(91, 91, 91);
}

.hidden {
  display: none;
}
